// Style.less для блока copyright
//-------------------------------

.copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.copyright__text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  line-height: 18px;
}

.copyright__link {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-left: 15px;
}

// от 660px планшетная версия
@media (min-width: @tablet-width) {
  .copyright {
    flex-direction: row-reverse;
  }
}

// от 1200px десктопная версия
@media (min-width: @desktop-width) {
  .copyright__text {
    font-size: 18px;
  }

  .copyright__link {
    margin-left: 13px;
  }
}
