// Style.less для блока download
//---------------------------------

.download {
  width: 100%;
  padding: 0;
  padding-top: 28px;
  padding-bottom: 30px;
  margin: 0;
}

.download__button {
  display: block;
  width: 240px;
  padding: 16px;
  margin: 0 auto;
  margin-bottom: 33px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: @color-white;
  border: 2px solid @border-white;
  border-radius: 30px;
}

.download__list {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  justify-content: center;
  column-gap: 35px;
  padding: 0;
  margin: 0;
  margin-bottom: 21px;
  list-style: none;
}

.download__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.download__icon {
  display: block;
  padding: 0;
  margin: 0;

  &--iphone {
    width: 47px;
    height: 56px;
  }

  &--android {
    width: 43px;
    height: 47px;
    padding-top: 6px;
  }

  &--windows {
    width: 44px;
    height: 41px;
    padding-top: 12px;
  }
}

.download__description {
  display: block;
  width: 280px;
  padding: 0;
  margin: 0 auto;
  font-weight: 300;
  text-align: center;
  color: @color-white;
}

// от 660px планшетная версия
@media (min-width: @tablet-width) {
  .download {
    width: 300px;
  }

  .download__button {
    padding: 16px 28px;
    margin-bottom: 45px;
  }

  .download__list {
    margin-bottom: 34px;
  }

  .download__description {
    display: block;
    width: 295px;
    font-size: 18px;
  }
}

// от 1200px десктопная версия
@media (min-width: @desktop-width) {
  .download {
    padding-bottom: 24px;
  }

  .download__button {
    width: 258px;
    padding: 18px;
    margin: 0;
    margin-bottom: 67px;
    font-size: 21px;
  }

  .download__list {
    margin-bottom: 51px;
  }
}
