// Style.less для блока feature
//-----------------------------

.feature {
  display: block;
  padding: 0;
  margin: 0;
  background-color: @bg-gray-lighter;
}

.feature__wrapper {
  padding: 0;
  padding-top: 41px;
}

.feature__slogan {
  display: block;
  width: 280px;
  font-size: 24px;
  line-height: 28.8px;
  font-weight: 300;
  padding: 0;
  margin: 0;
  text-align: center;

  &--top {
    margin-bottom: 32px;
  }

  &--bottom {
    margin-bottom: 113px;
  }
}

.feature__inner {
  display: block;
}

.feature__list {
  display: block;
  padding: 0;
  margin: 0;
  list-style: none;
}

.feature__item {
  padding: 0;
  margin: 0;
  margin-bottom: 21px;
}

.feature__item:last-child {
  margin-bottom: 31px;
}

.feature__item h3 {
  width: 280px;
  font-size: 18px;
  font-weight: 700;
  padding: 0;
  margin: 0;
  margin-bottom: 12px;
  text-align: center;
  color: @color-black;
}

.feature__item p {
  padding: 0 10px 10px 10px;
  margin: 0;
  text-align: center;
}

.feature__img {
  display: block;
  width: 157px;
  height: 277px;
  padding: 0;
  margin: 0;
  margin-left: 63px;
  overflow: hidden;
}

.feature__img img {
  display: block;
  width: 157px;
  height: 320px;
  padding: 0;
  margin: 0;
}
