// Style.less для блока main-nav
//---------------------------------

.main-nav {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.main-nav__toggle {
  display: block;
  fill: @fill-icon-white;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.main-nav--closed .main-nav__toggle {
  position: absolute;
  top: -46px;
  right: 0;
  display: block;
  width: 23px;
  height: 23px;
  background-image: url("../img/custom-icon/open-menu-btn.svg");
  background-repeat: no-repeat;
}

.main-nav--opened .main-nav__toggle {
  position: absolute;
  top: -46px;
  right: 19px;
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("../img/custom-icon/close-menu-btn.svg");
  background-repeat: no-repeat;
}

.main-nav__list {
  display: block;
}

// От 660px планшетная версия
@media (min-width: @tablet-width) {
  .main-nav--opened .main-nav__toggle {
    position: absolute;
    top: -67px;
    right: 19px;
    display: block;
    width: 24px;
    height: 24px;
    background-image: url("../img/custom-icon/close-menu-btn.svg");
    background-repeat: no-repeat;
  }
}

// от 1200px десктопная версия
@media (min-width: @desktop-width) {
  .main-nav {
    display: grid;
    grid-column-start: -1;
    width: 650px;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav--closed .main-nav__toggle {
    display: none;
  }

  .main-nav--opened .main-nav__toggle {
    display: none;
  }
}
