// Style.less для блока main-nav
//---------------------------------

.main-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.main-nav__toggle {
  display: block;
}

.main-nav__wrapper {
  display: none;
}
