// Style.less для блока page-header
//---------------------------------

.page-header {
  display: block;
  min-width: 320px;
  background-color: @bg-blue-darker;
}

.page-header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
