// Style.less для блока page-header
//---------------------------------

.page-header {
  display: block;
  background-color: @bg-black;
  opacity: 0.3;
}

.page-header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
