// Style.less для блока promo
//---------------------------

.promo {
  display: block;
  padding: 0;
  margin: 0;
}

.promo__wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0;

  &--index::before {
    display: block;
    position: absolute;
    content: " ";
    top: -65px;
    left: -19px;
    width: 320px;
    height: 462px;
    background-image: url("../img/promo/bg-promo-mobile.png");
    background-repeat: no-repeat;
    background-size: 320px auto;
    z-index: -1;
  }

  &--form::before {
    display: block;
    position: absolute;
    content: " ";
    top: -67px;
    left: -19px;
    width: 320px;
    height: 240px;
    background-image: url("../img/promo/bg-promo-mobile.png");
    background-repeat: no-repeat;
    background-size: 320px auto;
    z-index: -1;
  }

  &--catalog::before {
    display: block;
    position: absolute;
    content: " ";
    top: -67px;
    left: -19px;
    width: 320px;
    height: 239px;
    background-image: url("../img/promo/bg-promo-mobile.png");
    background-repeat: no-repeat;
    background-size: 320px auto;
    z-index: -1;
  }
}

.promo__title {
  width: 280px;
  font-size: 24px;
  font-weight: 300;
  line-height: 33px;
  padding: 0;
  padding-top: 28px;
  margin: 0;
  text-align: center;
  color: @color-white;

  &--form {
    margin-bottom: 44px;
  }

  &--catalog {
    margin-bottom: 77px;
  }
}

.promo__slogan {
  width: 280px;
  font-size: 24px;
  font-weight: 300;
  line-height: 120%;
  padding: 0;
  margin: 0;
  margin-bottom: 29px;
  text-align: center;
  color: @color-white;

  &--index {
    padding-top: 24px;
  }
}

.promo__img {
  padding: 0;
  margin: 0;
  margin-left: -19px;
}

.promo__img img {
  display: block;
  width: 320px;
  height: 286px;
  padding: 0;
  margin: 0;
}
