// Style.less для блока site-list
//---------------------------------

.site-list {
  display: block;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 320px;
  padding: 0;
  margin: 0 -20px;
  text-align: center;
  list-style: none;
  box-shadow: 0 -1px 0 0 #000000;
}

.site-list__item {
  width: 320px;
  padding: 16px 0;
  box-shadow: 0 1px 0 #000000;
}

.site-list__item a {
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: @color-white;
}
