// Style.less для блока slider
//----------------------------

.slider {
  position: relative;
  display: block;
}

.slider__list {
  display: flex;
  overflow-y: hidden;
}

.slider__toggles {
  display: flex;
  align-items: baseline;
  width: 60px;
  padding: 0;
  margin: 0 auto;
  list-style: none;
}

.slider__toggle {
  width: 12px;
  height: 12px;
  padding: 0;
  margin: 0;
  margin-right: 14px;

  &:last-child {
    margin-right: 0;
  }
}

.slider__toggle-button {
  display: block;
  width: 6px;
  height: 6px;
  background-image: url("../img/slider/btn-slider.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;

  &--current {
    display: block;
  }
}

.slider__button-current {
  display: block;
  width: 12px;
  height: 12px;
  background-image: url("../img/slider/btn-slider-current.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
}

// от 660px планшетная версия
@media (min-width: @tablet-width) {
  .slider__toggles {
    &--reviews {
      display: flex;
    }

    &--price {
      display: none;
    }
  }
}

// от 1200px десктопная версия
@media (min-width: @desktop-width) {
  .slider__controls {
    position: relative;
    display: flex;
  }

  .slider__control {
    position: absolute;
    width: 26px;
    height: 41px;
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;

    &--prev,
    &--next {
      top: -197px;
      background-repeat: no-repeat;
      background-position: 0 0;
    }

    &--prev {
      left: 0;
      background-image: url("../img/slider/left-arrow.svg");
    }

    &--next {
      right: 0;
      background-image: url("../img/slider/right-arrow.svg");
    }
  }

  .slider__toggles {
    &--reviews {
      display: none;
    }
  }
}
