// Style.less для блока slider
//----------------------------

.slider {
  position: relative;
  display: block;
}

.slider__list {
  display: block;
}

.slider__toggles {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.slider__toggle {
  padding: 0;
  margin: 0;
  margin-right: 14px;
}

.slider__toggle-button {
  width: 6px;
  height: 6px;
  background-image: url("../img/slider/btn-slider.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;

  &--current {
    width: 12px;
    height: 12px;
    background-image: url("../img/slider/btn-slider-current.svg");
  }
}

// от 1200px десктопная версия
@media (min-width: @desktop-width) {
  .slider__controls {
    position: relative;
    display: flex;
  }

  .slider__control {
    position: absolute;
    width: 26px;
    height: 41px;
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;

    &--prev,
    &--next {
      top: -159px;
      background-repeat: no-repeat;
      background-position: 0 0;
    }

    &--prev {
      left: 0;
      background-image: url("../img/slider/left-arrow.svg");
    }

    &--next {
      right: 0;
      background-image: url("../img/slider/right-arrow.svg");
    }
  }
}
