// Типографика
// -----------

// Базовая типографика для проекта Pink
// ------------------------------------------

// от 320px мобильная версия
.container {
  width: 280px;
  margin: 0 auto;
}

// от 660px планшетная версия
@media (min-width: @tablet-width) {
  .container {
    width: 620px;
    margin: 0 auto;
  }
}

// от 12000px десктопная версия
@media (min-width: @desktop-width) {
  .container {
    width: 940px;
    margin: 0 auto;
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  overflow: hidden;
}
